.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-reference) {
    .APp-logo {
        animation: APp-logo-spin infinite 15s liners;
    }
}

App-header {
    background-color: cornsilk;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: aquamarine;
}

.App-link {
    color: palevioletred;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}